<h2>{{localize 'PARTICULE-FX.Emission.Title'}}</h2>
{{localize 'PARTICULE-FX.Emission.description'}} {{emittorId}}

<div class="card-buttons rsr-save-buttons">
    <button type="button" name="button.delete-emitter" data-action="delete" data-emittor="{{emittorId}}">{{localize 'PARTICULE-FX.Emission.delete-button'}}</button>
</div>


{{#if originalQuery}}
<blockquote style="border-left:3px solid var(--color-border-light-tertiary)">
    <p>{{originalQuery}}</p>
</blockquote>
{{/if}}